* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8c8b8;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  background-color: #a8a39d;
}

.input-space {
  margin: 3px;
}

.signup-container input,button {
  width: 200px;
  height: 30px;
}

.signup-container button {
  background-color: rgb(159, 212, 194);
  border: none;
}

.home {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.home-content {
  background-color: #beb8b3;
  width: 40vw;
  border-radius: 15px;
  margin: 10px 0;
}

.logout {
  background-color: #e2ddd9;
  border: none;
  border-radius: 10px;
  transition: 300ms ease;
  margin: 3px;
}

.logout:hover {
  box-shadow: 3px 4px #a8a39d;
  transform: translateY(-1px);
  background-color: #c9c5c1;
}

.wrapper{
  width: 0;
  height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.wrapper h1{
  margin-top: 30px;
  text-align: center;
}

.wrapper p{
  text-align: center;
  margin-top: 7px;
  font-weight: bold;
}

.wrapper .main{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.wrapper .form-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #a8a39d;
  padding: 14px 28px;
  max-width: 600px;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 5px 7px rgb(106, 106, 106);
}

.sign-btns {
  display: flex;
  width: 100%;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #e2ddd9;
  transition: 300ms ease;
}

.sign-btns:hover {
  box-shadow: 3px 4px #a8a39d;
  transform: translateY(-1px);
  background-color: #c9c5c1;
}

.close-btn {
  width: 100%;
  background-color: rgb(225, 98, 98);
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  
}

.wrapper .form-container .btn{
  width: 100%;   
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 0, 0);
}
.view-container{
  width: 40vw;    
  background-color: #beb8b3;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.actions {
  width: 100px;
  height: 40px;
}

.action-btn{
  cursor: pointer;
  margin-right: 10px;
}

.add-contact {
  background-color: #e2ddd9;
  border: none;
  border-radius: 10px;
  margin: 15px;
  transition: 300ms ease;
}

.add-contact:hover {
  box-shadow: 3px 4px #a8a39d;
  transform: translateY(-1px);
  background-color: #c9c5c1;
}

.acc-buttons {
  margin: 15px;
}

#save-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

#signup-btn , #signin-btn {
  border-radius: 10px;
  margin: 3px;
  margin-bottom: 10px;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}


.table-responsive {
  display: flex;
  align-self: center;
  width: 100%;
}

#table-th {
  background-color: #8d7966;
  color: #f8f1e9;
  border: none;
}

.tbody {
  background-color: #a8a39d;
  border: none;
}

td.table-td {
  background-color: #a8a39d;
  border-bottom: 1px rgba(104, 96, 83, 0.467) solid;
}

td.actions {
  background-color: #a8a39d;
  border-bottom: 1px rgba(104, 96, 83, 0.467) solid;
}

